@font-face {
  font-family: "iconfont"; /* Project id 2748127 */
  src: url('https://at.alicdn.com/t/font_2748127_h3gua75r9vu.woff2?t=1645201468576') format('woff2'),
       url('https://at.alicdn.com/t/font_2748127_h3gua75r9vu.woff?t=1645201468576') format('woff'),
       url('https://at.alicdn.com/t/font_2748127_h3gua75r9vu.ttf?t=1645201468576') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-move:before {
  content: "\e616";
}

.icon-yidong:before {
  content: "\e653";
}

.icon-xianshikejian:before {
  content: "\e8d4";
}

.icon-yincangbukejian:before {
  content: "\e8d5";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-caidan:before {
  content: "\e60e";
}

.icon-menu:before {
  content: "\e61b";
}

.icon-qiehuan:before {
  content: "\e647";
}

.icon-config:before {
  content: "\e6b4";
}

.icon-avatar:before {
  content: "\e61a";
}

.icon-random:before {
  content: "\e6a0";
}

.icon-close:before {
  content: "\e685";
}

.icon-share:before {
  content: "\e63e";
}

.icon-run:before {
  content: "\ec61";
}

.icon-undo:before {
  content: "\eaf0";
}

.icon-pen:before {
  content: "\e61e";
}

.icon-color:before {
  content: "\e601";
}

.icon-download:before {
  content: "\e617";
}

.icon-preview:before {
  content: "\e61d";
}

.icon-revoke:before {
  content: "\e624";
}

.icon-share1:before {
  content: "\e739";
}

.icon-play:before {
  content: "\e851";
}

.icon-clear:before {
  content: "\e610";
}
